<form name="form" ng-submit="" novalidate autocomplete="off" >
    <div class="row" style="padding-top: 10%;">  
        <label> Nome giocatore:
            <input type="text" ng-model="PlayerCtrl.player.name" required >
           <label ng-show=(PlayerCtrl.errorName) style="color:red;">Nome esistente</label>
        </label>
    </div> 
    <hr>
    <div class="row">
        <label>
            <input type="radio" ng-model="PlayerCtrl.player.sex" value="m">
            Maschio
        </label>
        <label>
            <input type="radio" ng-model="PlayerCtrl.player.sex" value="f">
            Femmina
        </label>
    </div>
    <hr>
    <div class="row">
        <label for="select"> Selezionare ruolo: </label><br>
       
        <select required name="roleSelect" ng-model="PlayerCtrl.player.role" ng-options="role.id as role.name for role in PlayerCtrl.RoleSrv.get()"></select>
    </div>
   
    <input  ng-hide="PlayerCtrl.PlayerSrv.getPlayers().length ==3" type="submit" ng-click="PlayerCtrl.savePlayer(PlayerCtrl.player)" value="ADD Player" ng-disabled="form.$invalid" />
    <input ng-show="PlayerCtrl.PlayerSrv.getPlayers().length" type="submit" value="Inizia avventura" />

</form>
