<form name="form" ng-submit="" novalidate autocomplete="off">
    <div layout="column" layout-margin>
        <label class="md-display-2"> Creazione del personaggio </label>
        
        <md-input-container>
          <label>Nome:</label>
          <input md-maxlength="15" name="name" type="text" ng-model="PlayerCtrl.player.name" required>
          <div ng-messages="form.name.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must enter an username</div>
              <div ng-message="md-maxlength" class="my-message"> You must enter a 15 characters</div>
          </div>
        </md-input-container>
        
        <label class="md-display-1"> Sesso: </label> 
    </div> 
     <md-radio-group ng-model="PlayerCtrl.player.sex" layout="row" layout-margin>
      <md-radio-button value="m">Maschio</md-radio-button>
      <md-radio-button value="f"> Femmina </md-radio-button>
    </md-radio-group>
    <div layout="column" layout-margin>
        <label class="md-display-1" layout-margin> Ruolo: </label> 
        <md-input-container  >
             <md-select ng-model="PlayerCtrl.player.role" required>
                 <!-- PER FAR PASSARE UN INT DALLA SELECT OCCORRE UTILIZZARE ng-value-->
              <md-option ng-repeat=" role in PlayerCtrl.RoleSrv.get()" ng-value="role.id">
                  {{role.name}}
              </md-option>
        </md-input-container>
    </div>

    <div layout="row">
        <md-container>    
            <md-button ng-hide="PlayerCtrl.PlayerSrv.getPlayers().length ==3" 
                       class="md-raised md-primary"
                       ng-click="PlayerCtrl.savePlayer(PlayerCtrl.player)"
                       ng-disabled="form.$invalid"> Conferma personaggio </md-button>
                       
            <md-button ng-show="PlayerCtrl.PlayerSrv.getPlayers().length" 
                       class="md-raised md-primary"
                       ng-click="PlayerCtrl.PlayerSrv.finishCreation()"
                       > Inizia avventura </md-button>
        </md-container>   
    </div>

   
   
    <!--<input  ng-hide="PlayerCtrl.PlayerSrv.getPlayers().length ==3" type="submit" ng-click="PlayerCtrl.savePlayer(PlayerCtrl.player)" value="ADD Player" ng-disabled="form.$invalid" />-->
    <!--<input ng-show="PlayerCtrl.PlayerSrv.getPlayers().length" type="submit" value="Inizia avventura" />-->

</form>
