<md-toolbar class="md-tall md-accent" layout="row" layout-align="space-around center" 
            ng-hide="PlayerBarCtrl.$state.is('start')">
  <div ng-repeat="player in PlayerBarCtrl.PlayerSrv.getPlayers()" flex  ng-click="alert(player.id)">
   <div layout="row" layout-padding>
    <div layout-align="center center" layout="column" >
     <img src="{{player.image}}"/>
     
    </div>
      <div layout="column">
        <div>Name: {{player.name}}   Lv.{{player.level}} </div>
        <!--<div>Level: {{player.level}}</div>-->
        <!--<div>HP: {{player.hp}} / {{player.hpMax}}</div>-->
        <div layout="column">
          <div flex> HP: {{player.hp}} / {{player.hpMax}}</div>
          <md-progress-linear class="hp" md-mode="determinate" value="PlayerSrv.barProgression(player.hp,player.layer.hpMax)"></md-progress-linear>
        </div>
        <div layout="column">
          <div flex> Mana: {{player.mana}} / {{player.manaMax}}</div>
          <md-progress-linear class="mana" md-mode="determinate" value="PlayerSrv.barProgression(player.mana,player.manaMax)"></md-progress-linear>
        </div>
        <!--<div>Money: {{player.gold | gold}}</div>-->
      </div>
     </div>
  </div>
</md-toolbar>
