md-progress-linear.hp .md-container .md-bar{
  background-color: #ff4d4d;   
}

 md-progress-linear.mana .md-container .md-bar{
  background-color: #4d4dff;   
}

md-card.selected{
     border-style: solid;
     border-color: rgb(75, 167, 120);
}