<form ng-show="!StoryCtrl.ForeingSrv.checkVisibilityCreation">
    <!--<input type="submit" ng-click="" value="Prosegui" />-->
    <div name="combat" layout="row" layout-margin>
        <md-button class="md-accent md-raised" flex ng-click="" value="Normal Attack">Normal Attack</md-button> 
        <md-button class="md-primary md-raised" flex ng-click="" value="Special Attack">Special Attack</md-button> 
        <md-button class="md-primary md-raised" flex ng-click="" value="Use Health Potion">Use Health Potion</md-button> 
        <md-button class="md-primary md-raised" flex ng-click="" value="Use Mana Potion">Use Mana Potion</md-button> 
    </div>
</form>